<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ekoapp.sample.socialfeature">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_social_feature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:name=".SocialApplication">
        <activity android:name=".view.MainActivity" />
    </application>
</manifest>

