<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ekoapp.sample.socialfeature">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_social_feature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher">
        <activity android:name=".createfeeds.CreateFeedsActivity" />
        <activity android:name=".editfeeds.EditFeedsActivity" />
        <activity android:name=".userfeed.view.UserFeedsActivity" />
        <activity android:name=".search.SearchUsersActivity" />
        <activity android:name=".users.view.SeeAllUsersActivity" />
    </application>

</manifest>

