<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ekoapp.sample.chatfeature">

    <dist:module
        dist:instant="false"
        dist:onDemand="true"
        dist:title="@string/title_chat_feature">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>

        <activity
            android:name="com.ekoapp.sample.chatfeature.channellist.ChannelListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.ekoapp.sample.chatfeature.messagelist.ParentMessageListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.messagelist.ChildMessageListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.messagelist.ImageMessageSenderActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.messagelist.FileMessageSenderActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.messagelist.CustomMessageSenderActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.messagereactionlist.MessageReactionListActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.ekoapp.sample.chatfeature.channellist.filter.ChannelQueryFilterActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

    </application>

</manifest>

